{% extends "base.html" %}
{%block title%}Calculator{%endblock%}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h2>Your calculation history</h2>
<div style="width: 80%; margin: auto">
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Value 1</th>
                <th>Value 2</th>
                <th>Result</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br><br>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}