{% extends "base.html" %}
{%block title%}Home{%endblock%}
{% block head %}
    {{ super() }}
{% endblock %}
{%block content%}
<h1>
    Learning the Basics of SOLID Design Principles
</h1>

<h2>
    What is SOLID?
</h2>

<div class="center">
    <p>
        "SOLID is a mnemonic abbreviation for a set of design principles created for software development in object-oriented languages.
        The principles in SOLID are intended to make your code more extendable, logical and easier to read."
        <a href="https://levelup.gitconnected.com/s-o-l-i-d-principles-explained-in-python-with-examples-83b2b43bdcde">(Level Up Coding)</a>
    </p>
</div>

<h2>
    S - Single Responsibility Principle
</h2>
<div class="center">
    <p>
        The Single Responsibility Principle states that a class should have one and only one job.
    </p>
    <p>
        If a class ever has two jobs it means that it has a coupled responsibility. Because of this, whenever one of the two responsibilities
        is modified, the other responsibility will also be affected.
    </p>
    <p>
        To avoid this, both responsibilities should be split into their own two classes.
    </p>
</div>
<h2>
    O - Open-Closed Principle
</h2>
<div class="center">
    <p>
        The Open-Closed Principle states that entities of code like methods, classes, functions and modules
        should be open for extension but closed for modification.
    </p>
    <p>
        <b>"Extension without modification."</b>
    </p>
</div>
<h2>
    L - Liskov Substitution Principle
</h2>
<div class="center">
    <p>
        The main idea behind Liskov Subtitution Principle is that, for any class, a client should be able to use any of its subtypes
        indistinguishably, without even noticing, and therefore without compromising the expected behavior at runtime.
    </p>
    <p>
        In simpler terms means that a subclass, child or specialization of an object or class must be suitable by its parent class.
    </p>
</div>
<h2>
    I - Interface Segregation Principle
</h2>
<div class="center">
    <p>
        Make fine grained interfaces that are client specific Clients should not be forced to depend upon interfaces that they do not use.
        This principle deals with the disadvantages of implementing big interfaces.
    </p>
</div>
<h2>
    D - Dependecy Inversion Principle
</h2>
<div class="center">
    <p>
        Dependency should be on abstractions not concretions. High-level modules should not depend upon low-level modules.
        Both low and high level classes should depend on the same abstractions.
    </p>
    <p>
        Abstractions should not depend on details. Details should depend upon abstractions.
    </p>
</div>
{%endblock%}